{% extends 'r_chat/layouts/nav_layout.html' %}

{% load static %}
{% load widget_tweaks %}

{% block head_title %} WeChat | Edit Prifile{% endblock %}

{% block content %}
<div class="flex justify-center items-center mt-2 w-screen">
    <!--card-->
    <div class="card bg-gray-200 w-[50%] shadow-xl justify-center">
        <div class="card-title font-prompt align-middle justify-center p-2 mt-2 ">
            {% if onboarding %}
                <h1 class="mb-2 ">Complete your Profile</h1>
            {% else %}
                <h1 class="mb-2 ">Edit your Profile</h1>
            {% endif %}
        </div>

        <div class="card-body">
            <div class="text-center flex flex-col items-center">
                <img id="avatar" class="w-36 h-36 rounded-full object-cover my-2" src="{{ user.profile.avatar }}" />
                <div class="text-center max-w-md">
                    <h1 id="displayname" class="font-poppins text-black text-xl">{{ user.profile.displayname|default:"" }}</h1>
                    <div class="text-gray-600 mb-2 mt-2">@{{ user.username }}</div>
                </div>
            </div>

            <!--edit profile form-->
            <form method="POST" enctype="multipart/form-data" class="space-y-6">
                {% csrf_token %}

                <!-- Form Fields -->
                <div class="space-y-4">
                    {{ form.image|add_class:"file-input file-input-md file-input-bordered file-input-info w-full max-w-2xl" }}
                    {{ form.displayname|add_class:"block w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" }}
                    {{ form.info|add_class:"block w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" }}
                </div>

                <!-- Submit Button -->
                <div class="flex gap-3">
                    <button type="submit" class="inline-flex justify-center items-center py-2 px-4 border border-transparent rounded-lg shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Submit
                    </button>

                    <!-- Conditional Buttons -->
                    <div class="flex justify-between items-center">
                        {% if onboarding %}
                            <a class="inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-lg text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 ml-1" href="{% url 'chat-home' %}">
                                Skip
                            </a>
                        {% else %}
                            <a class="inline-flex items-center px-4 py-2 border border-red-300 shadow-sm text-sm font-medium rounded-lg bg-red-500 text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 ml-1" href="{{ request.META.HTTP_REFERER }}">
                                Cancel
                            </a>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    
    // This updates the avatar
    const fileInput = document.querySelector('input[type="file"]');

    fileInput.addEventListener('change', (event) => {
    const file = event.target.files[0];
    const image = document.querySelector('#avatar');

    if (file && file.type.includes('image')) {
        const url = URL.createObjectURL(file);
        image.src = url;
    }
    });

    // This updates the name
    const display_nameInput = document.getElementById('id_displayname');
    const display_nameOutput = document.getElementById('displayname');

    display_nameInput.addEventListener('input', (event) => {
        display_nameOutput.innerText = event.target.value;
    });

</script>

{% endblock %}