<nav class="bg-gray-200 shadow p-4 sticky top-0 z-10">
    <div class="flex justify-between items-center mx-4">
        <div class="text-blue-600 font-bold flex items-center gap-2 ms-5">
            <img class="h-8 mt-2 object-cover" src="/static/images/chat_icon3.png" alt="Logo"/>
            <span class="text-2xl font-[800] font-kanit mt-2 ">WeChat</span>
        </div>
        <div class="flex items-center space-x-6">
            {% if request.user.is_authenticated %}
                <div class="relative">
                    <input type="text" placeholder="Search" class="bg-gray-100 px-4 py-2 rounded-full focus:outline-none">
                    <span class="absolute right-3 top-2 text-gray-500">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a4 4 0 11-8 0 4 4 0 018 0zm4.032 4.068l-2.827-2.828M16 20.465V21m-4 0h8a1 1 0 001-1v-2a1 1 0 00-1-1h-8a1 1 0 00-1 1v2a1 1 0 001 1z" />
                        </svg>
                    </span>
                </div>
                <div class="relative">
                    <span class="absolute top-0 right-0 block h-2 w-2 bg-red-600 rounded-full"></span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 text-gray-600">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 22.5c4.736 0 8.5-3.764 8.5-8.5s-3.764-8.5-8.5-8.5-8.5 3.764-8.5 8.5 3.764 8.5 8.5 8.5zm0-13.5v6l4.5 2.25" />
                    </svg>
                </div>
                <div>
                    <span class="inline-block h-8 w-8 rounded-full bg-blue-600 text-white text-center leading-8">
                        <img class="h-8 w-8 rounded-full object-cover" src="{{ user.profile.avatar }}"/>
                    </span>
                </div>

            {% else %}
                <li class="me-1 text-lg hover:underline"><a href="{% url 'account_login' %}">Login</a></li>
                <li class="ms-1 text-lg hover:underline"><a href="{% url 'account_signup' %}?next={% url 'profile-onboarding' %}">Signup</a></li>
            {% endif %}
        </div>
    </div>
</nav>